<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= employee.First_name %>
    <strong>Last name:</strong>
    <%= employee.Last_name %>
    <strong>Age:</strong>
    <%= employee.Age %>
    <strong>Gender:</strong>
    <%= employee.Gender %>
    <strong>Designation:</strong>
    <%= employee.Designation %>
  </p>
</div>
